*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: capitalize;
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg,#ff0 50%,#333 50%);
}

.container{
    height: 450px;
    width: 400px;
    background-color: white;
    border-radius: 5px;
    text-align: center;
    margin: auto;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.5);
    overflow-x: hidden;
    overflow-y: auto;
}

#input{
    height: 50px;
    width: 90%;
    border: none;
    background-color: #333;
    border-radius: 5px;
    color: #fff;
    padding: 0 10px;
    margin: 15px 0px;
}
ul{
    padding: 0px 10px;
    margin-top: 0px;
}

ul li{
    padding: 3%;
    background-color: #eee;
    text-align: left;
    color: black;
    list-style: none;
    border-radius: 20px;
    margin-bottom: 10px;
    position: relative;
}

ul .fa-check,.fa-trash{
    position: absolute;
    cursor: pointer;
}

ul .fa-check{
    right: 40px;
    color: green;
}

ul .fa-trash{
    right: 10px;
    color: red;
}

.checked{
    text-decoration: line-through;
    background-color: lightgreen;
    transition: 2s;
}

@media(max-width:600px){
    .container{
        width: 90%;
    }
}
